<div class="app-header">
  <div class="app-header-brand">
    <img src="/logo.svg" alt="" class="app-header-logo" width="24" height="24" />
    <span class="app-header-title"><span class="app-header-title-wing">Wing</span> Browser Meters</span>
  </div>
  <nav class="app-header-nav">
    <a href="/horizontal" class="app-header-link">Horizontal</a>
    <a href="/vertical" class="app-header-link">Vertical</a>
  </nav>
</div>

